<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-sm-4">
    <h2><%= t(:welcome) %>
      <%= current_user.name %></h2>
  </div>
  <div class="pull-right">
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          
        </div>
        <div class="ibox-content">
          
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          
        </div>
        <div class="ibox-content">
          
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          
        </div>
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-6">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div>
            
          </div>
          <div class="m-t-sm">
            <div class="row">
              <div class="col-md-8">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th></th>
                      <th></th>                      
                    </tr>
                  </thead>
                  <tbody>
                                   
                  </tbody>
                </table>
              </div>
              <div class="col-md-4">
                <ul class="stat-list m-t-lg">
                  <li>
                    <h2 class="no-margins"></h2>
                    <small></small>
                    <div class="progress progress-mini">
                      <div class="progress-bar" style="width: 0%;"></div>
                    </div>
                  </li>
                  <li>
                    <h2 class="no-margins "></h2>
                    <small></small>
                    <div class="progress progress-mini">
                      <div class="progress-bar" style="width: 0%;"></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="m-t-md">
            <small class="pull-right">
              <i class="fa fa-clock-o"> </i>
              Update on <%= DateTime.now.to_s(:long) %>
              </small>
            <small>
              
              </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-primary pull-right">Year: <%= DateTime.now.year - 8 %> EC / <%= DateTime.now.year%> GC</span>
          <h5></h5>
        </div>
            
      </div>
    </div>
  </div>
</div>