<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Invoices</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Lookups</a>
      </li>
      <li class="active">
        <strong>Invoices</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'New Invoice', new_invoice_path, :class => "btn btn-primary"%>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="ibox float-e-margins">
    <div class="ibox-content">

      <table class="table table-striped cats-datatable">
        <thead>
          <tr>
            <th>Invoice number</th>
            <th>Vendor Name</th>
            <th>Date received</th>
            <th>Invoice date</th>
            <th>Lti number</th>
            <th>Received by</th>
            <th>Received from</th>
            <th>Submitted by</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td>
                <%= link_to invoice.invoice_number, invoice %>
              </td>
              <td>
                <%= invoice.vendor.name %>
              </td>
              <td>
                <%= invoice.date_received.to_date.to_formatted_s(:long_ordinal) %>
              </td>
              <td>
                <%= invoice.invoice_date.to_date.to_formatted_s(:long_ordinal) %>
              </td>
              <td>
                <%= invoice.lti_number %>
              </td>
              <td>
                <%= invoice.user.name %>
              </td>
              <td>
                <%= invoice.received_from %>
              </td>
              <td>
                <%= invoice.submitted_by %>
              </td> 
              <td>
                <a href="<%= edit_invoice_path(invoice) %>" class="btn btn-warning btn-sm">
                  <i class="fa fa-pencil"></i>   
                  Edit                   
                </a>
                <%= link_to invoice, method: :delete, :class => "btn btn-danger btn-sm", :data=> { :confirm => "Are you sure?" }  do %>
                  <i class="fa fa-archive"></i>   
                  Delete     
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
