    <p>
      <strong>Name:</strong>
      <%= @vendor.name %>
    </p>

    <p>
      <strong>Code:</strong>
      <%= @vendor.code %>
    </p>

    <p>
      <strong>Org unit:</strong>
      <%= @vendor.org_unit %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @vendor.status %>
    </p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>