<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse" id="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">

      <%= render 'layouts/logoheader' %>

      <li>
        <a>Logistics Module</a>
        <ul class="nav nav-second-level collapse">
          <li class="<%= 'active' if is_active_controller('vendors')  %>">
            <%= link_to t(:vendors), vendors_url %>            
          </li>  
          <li class="<%= 'active' if is_active_controller('invoices')  %>">
            <%= link_to t(:register_invoices), invoices_url %>            
          </li>  
          <li class="">
            <a>Distribution</a>
          </li>
         <li class="">
            <a>Download Waybills</a>
          </li>
          <li class="">
            <a>TruckLoad Capacity</a>
          </li>
          <li class="">
            <a>CIF</a>
          </li>
          <li class="">
            <a>Non-Food Item</a>
          </li>  
          <li class="">
            <a>Waybill Verification</a>
          </li>
          <li class="">
            <a>Payment Request</a>
          </li>
          <li class="">
            <a>Memo/LTI</a>
          </li>
          <li class="">
            <a>Memo/None LTI</a>
          </li>
          <li>
            <a>Invoice Follow Up</a>
          </li>      
      </li>
    </ul>
  </li>

  <li class="">
    <a>Finance Module</a>
    <ul class="nav nav-second-level collapse">
      <li class="">
        <a>Confirmation</a>
      </li>
      <li class="">
        <a>Payment</a>
      </li>
    </ul>
  </li>

  <li class="">
    <a>LESS</a>
    <ul class="nav nav-second-level collapse">      
      <li class="">
        <a>LTI Detail</a>
      </li>
      <li class="">
        <a>Dispatch Vs. Received</a>
      </li>
      <li class="">
        <a>Waybill Detail</a>
      </li>  
    </ul>
  </li>

  <li class="">
    <a>Report</a>
    <ul class="nav nav-second-level collapse">
      <li class="">
        <a>Summary Reports</a>
      </li>
    </ul>
  </li>
</ul>

</div>
</nav>
